.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.map1 {
   grid-column-start: 1;
   grid-column-end: 3;
}

.content1 {
    background-color: aqua;
}

.content2 {
    background-color: brown;
}
